<ion-content>
  <!-- Tarjeta 1: Parpadeo lento en gatos -->
  <ion-card class="custom-card">
    <img alt="Silhouette of mountains" src="../../../assets/img/gatopipipipi.gif" class="centered-image"/>
    <ion-card-header>
      <ion-card-title>El parpadeo lento en gatos</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      El parpadeo lento en los gatos es un comportamiento que expresa afecto y confianza. Se le conoce como el "beso" del gato, ya que lo usan tanto con otros felinos como con los humanos para comunicar tranquilidad y cariño.
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta 2: Los perros sueñan -->
  <ion-card class="custom-card">
    <img alt="Perro soñando" src="../../../assets/img/ef0df3498ef638eed80e52003a61ed2d.gif" class="centered-image"/>
    <ion-card-header>
      <ion-card-title>Los perros sueñan</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      Los perros sueñan: Al igual que los humanos, los perros pasan por ciclos de sueño REM, donde se cree que reviven experiencias y sueñan.
    </ion-card-content>
  </ion-card>
</ion-content>