<ion-content>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alimentos malos para mascotas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Chocolate" src="../../../assets/img/57b1df00c80c2f5427ea27b75612b374.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h2>Chocolate</h2>
            <p>Contiene teobromina, tóxica para perros y gatos, causando vómitos, diarrea, y en casos graves, convulsiones o la muerte.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Leche" src="../../../assets/img/ggghhhleeche.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h2>Leche y productos lácteos</h2>
            <p>La mayoría de las mascotas son intolerantes a la lactosa, lo que les genera diarrea y malestar digestivo.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Cebolla y ajo" src="../../../assets/img/dasdasdadasdbbbceee.jpeg" />
          </ion-thumbnail>
          <ion-label>
            <h2>Cebolla, ajo y cebolleta</h2>
            <p>Estos vegetales dañan los glóbulos rojos, provocando anemia.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Alimentos seguros para mascotas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Pollo" src="../../../../assets/img/pollo.webp" />
          </ion-thumbnail>
          <ion-label>
            <h2>Pollo</h2>
            <p>El pollo cocido es una buena fuente de proteína y es fácil de digerir para perros y gatos.</p>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Zanahoria" src="../../../../assets/img/zanahoria.jpeg" />
          </ion-thumbnail>
          <ion-label>
            <h2>Zanahorias</h2>
            <p>Las zanahorias son una excelente opción baja en calorías y rica en fibra, además de ser buenas para los dientes.</p>
          </ion-label>
        </ion-item>


  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Manzana" src="../../../../assets/img/manzana.webp" />
          </ion-thumbnail>
          <ion-label>
            <h2>Manzana</h2>
            <p>Las manzanas son una buena fuente de vitaminas y fibra. Asegúrate de quitar las semillas y el corazón antes de dárselas.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
