
ion-content{
    --background: #28584f;
}


  
  .custom-fab {
    --background: #463552; /* Cambia el color de fondo del botón */
    margin-bottom: 20px;
    --color: white; /* Cambia el color del icono dentro del botón, opcional */
  }
  
  .custom-fab ion-icon {
    --background: #463552;
    color: white; /* Cambia el color del ícono si es necesario */
  }
  